<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Comments counter:</strong>
    <%= user.posts_counter %>
  </p>


  <p>
    <strong>Author:</strong>
    <%= user.id %>
  </p>

</div>
