<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= user.text %>
  </p>

  <p>
    <strong>Comments counter:</strong>
    <%= user.comments_counter %>
  </p>

  <p>
    <strong>Likes counter:</strong>
    <%= user.likes_counter %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= user.author_id %>
  </p>

</div>
