<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

  <p>
    <strong>Commentscounter:</strong>
    <%= post.CommentsCounter %>
  </p>

  <p>
    <strong>Likescounter:</strong>
    <%= post.LikesCounter %>
  </p>

  <p>
    <strong>Authorid:</strong>
    <%= post.AuthorId %>
  </p>

</div>
